# Flask==2.3.2


# #test
flask==0.5     # Known for several vulnerabilities
requests==2.19.1  # Has known security issues
pyyaml==3.13   # Vulnerable to arbitrary code execution
urllib3>=2.6.3 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=3.1.5 # not directly required, pinned by Snyk to avoid a vulnerability
